.h2 {
    font-family: monospace;
    font-size: 2rem;
    margin-top: 8px;
    text-align: center;
    color: white;
  }
  .h5 {
    font-family: monospace;
    color: white;
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
  }
  .works{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      z-index: 1;
  }
  .allp{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 2rem;
  }
  .singlep{
      padding: 1.5rem 1rem;
      border-radius: 2rem;
      border: 1px solid rgb(185, 185, 185);
      background-color: white;
  }
  .allimgs{
      width: 320px;
      height: 200px;
      margin: auto;
      border-radius: 15px;
  }
  .pimg{
      width: 320px;
      height: 200px;
      border-radius: 15px;
  }
  .h3{
      margin-top: 8px;
      margin-bottom: 10px;
      font-size: 1.3rem;
      font-weight: 500;
      background-color: white;
      text-align: center;
  }
  .plinks{
      display: flex;
      justify-content: space-around;
      background-color: white;

  }
  .gitlink,.demolink{
      text-decoration: none;
      color: white;
      padding: 0.6rem 1.2rem;
      border: 1px solid black;
      border-radius: 0.8rem;
  }
  
  @media (max-width:1230px){
      .allp{
          grid-template-columns: 1fr 1fr;
      }
  }
  
  @media (max-width:768px){
      .allp{
          gap: 1rem;
      }
      .allimgs{
          width: 280px;
          height: 180px;
          margin: auto;
      }
      .pimg{
          width: 280px;
          height: 180px;
          border-radius: 15px;
      }
      .singlep{
          padding: 1rem;
      }
  }
  
  @media (max-width:675px){
      .allp{
          grid-template-columns: 1fr;
      }
      .h2 {
          font-size: 1.7rem;
          margin-bottom: 10px;
        }
        .h5 {
          font-size: 0.9rem;
        }
        .h3 {
          font-size: 1.2rem;
        }
  }
  @media (max-width:345px){
      .singlep{
          padding: 1rem 0.5rem;
      }
  }